
/*myMenu*/
#myMenu{
      position: fixed;
      z-index: 99999;
      top: 350px;
      right: 140px;
}
#myMenu a{
      background: url(../delivery-img/dotScroll02_2x.png) no-repeat;
      background-size: contain;
      width: 50px;
      height: 30px;
      display: block; /*이걸 안해주면 a에 뭐 적용을 해도 화면에 안보임*/ 
      font-size: 0;
}
#myMenu li.active{  /*a 태그에 active를 주면 적용되지 않음*/
      background: url(../delivery-img/dotSelect_2x.png) no-repeat ;
      background-size: contain;
}
#myMenu li:first-child{
      display: none;
}
#myMenu li:last-child{
      display: none;
}

body .scroll{
      position: fixed; 
      bottom:20px; 
      left: 700px;
      z-index: 1000;
      animation-duration:0.5s; /*애니메이션 실행 속도*/
      animation-iteration-count: 3; /*애니메이션 반복 횟수*/
}


/*header*/

header{ position: fixed; z-index: 1000; width: 50%;}
.head-inner{width:100%;}
header h1{background: url(../delivery-img/logo.png) no-repeat; font-size: 0; text-indent: -999px;
width: 150px; height: 70px; background-size: contain; margin-top: 80px; margin-left: 270px;}
.head-inner{display: flex; justify-content: space-between; margin: 0 auto; position: relative; width: 100%;}

.head-inner .app-down{
      background: url(../delivery-img/btn-download-white_3x.png) no-repeat;
      font-size: 0;
      width: 140px;
      background-size: contain;
      transform: translate(350px , 70px);
      opacity: 0;
       
      }
.head-inner #menuBar{display: flex; flex-direction: row; color: #fff; font-size: 0; }
.head-inner #menuBar img{width: 30px; height:30px;transform: translate(370px , 80px);}
.head-inner #menuBar a{margin-left:20px;}

.section.main .rider img{position: absolute; top: -10px; left:1260px; width: 180px;}
             

/*section main*/
.section.main{
      background: url(../delivery-img/main_02_2x.jpg) no-repeat;
      background-size: cover;
    
}
.main{
      height: 100%;
}
.main .latte{width: 450px; position: absolute; top: 0; left: 260px; transform: translateY(200px);}
.main-bottom{display: flex; justify-content: space-between; margin: 0 auto; width: 924px; transform: translateY(-130px);}
.main-bottom-left{margin-top: 700px;}
.main-bottom-left h2{color: #fff; font-weight: bold; font-size: 14px;}
.main-bottom-left img{width: 160px; height: 40px; background-color: #fff; border-radius: 40px;
background-size: contain; padding: 15px; margin-right: 10px; margin-top: 20px;}
.main-bottom-right{margin-top: 680px;}
.main-bottom-right h2{color: #fff; font-weight: bold; font-size: 14px;}
.main-bottom-right img{width: 150px; background-color: #fff; border-radius: 20px;margin-top: 20px;}




/*section s1*/
.section{
      background-color: #2ac1bc;
   
  overflow:hidden; 
};

.section-box{
      height: 100%;
}

/* .section.s1{
      width: 100%;
} */
.section.s1 .main2{
      width: 100%;
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      position: relative;
}
.section.s1 .main2 .main2-left{ 
      position: absolute;
      top: 100px;
      left: 250px; 
}

.section.s1 .main2-left img{
      width: 500px;
      margin-bottom: 20px;
}
.section.s1 .main2 .main2-left p{
      color: #fff;
      font-size: 16px;
      line-height: 1.38;

}
.section.s1 .main2 .main2-left p:nth-of-type(2){
      margin-bottom: 20px;
}
.section.s1 .main2 .main2-left span{
      color: #fff;
      font-size: 12px;
      opacity: 0.5;
}

.section.s1 .main2 .main2-right{  
     transform: translate(730px , 20px);
     position: relative;
}

.section.s1 .main2 .main2-right img{
      width: 650px;
}
.section.s1 .main2 .main2-right img:first-child{
      position: absolute;
}


/*section s2*/

.section.s2 .section-box{
      width: 50%;
      margin: auto;   
}
.section.s2 .section-box .section-box-left{ 
      transform: translateY(50%);
}

.section.s2 .section-box .section-box-left img{
      width: 500px;
      margin-bottom: 20px;
}
.section.s2 .section-box .section-box-left p{
      color: #fff;
      font-size: 16px;
      line-height: 1.38;
}
.section.s2 .section-box .section-box-left p:nth-of-type(2){
      margin-bottom: 20px;
}
.section.s2 .section-box .section-box-left span{
      color: #fff;
      font-size: 12px;
      opacity: 0.5;
}


.people{
      width: 600px;
      height: 600px;  
      bottom: -200px;
      opacity: 0;
      position: absolute;
}

.people.focus{
      opacity: 1;
      bottom: 0px;
      right: 200px;
      transition: all 0.5s;
}


.section.s3 .section-box{
      width: 50%;
      margin: auto;
}
.section.s3 .section-box .section-box-left{ 
      transform: translateY(50%);
}

.section.s3 .section-box .section-box-left img:first-child{
      width: 500px;
      margin-bottom: 20px;
}
.section.s3 .section-box .section-box-left img:last-child{
      width: 250px;
      margin-top: 20px;
}
.section.s3 .section-box .section-box-left p{
      color: #fff;
      font-size: 16px;
      line-height: 1.38;
}

.section.s3 .section-box .section-box-left span{
      color: #fff;
      font-size: 12px;
      margin-top: 10px;
      opacity: 0.5;
}


/*section s4*/


.section.s4 .section-box{
      width: 50%;
      margin: auto;   
}
.section.s4 .section-box .section-box-left{ 
      transform: translateY(50%);
}

.section.s4 .section-box .section-box-left img:first-child{
      width: 500px;
      margin-bottom: 20px;
}
.section.s4 .section-box .section-box-left img:last-child{
      width: 200px;
      margin-top: 20px;
}
.section.s4 .section-box .section-box-left p{
      color: #fff;
      font-size: 16px;
      line-height: 1.38;
}
.section.s4 .section-box .section-box-left span{
      color: #fff;
      font-size: 12px;
      margin-top: 10px;
      opacity: 0.5;
}


/*section s5*/


.section.s5 .section-box{
      width: 100%;
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      
}
.section.s5 .section-box .section-box-left{ 
      position: absolute;
      top: 170px;
      left: 250px; 
}

.section.s5 .section-box .section-box-left img:first-child{
      width: 500px;
      margin-bottom: 20px;
}
.section.s5 .section-box .section-box-left img:last-child{
      width: 200px;
      margin-top: 20px;
}
.section.s5 .section-box .section-box-left p{
      color: #fff;
      font-size: 16px;
      line-height: 1.38;
}
.section.s5 .section-box-left p:nth-of-type(2){
      margin-bottom: 20px;
}
.section.s5 .section-box .section-box-left span{
      color: #fff;
      font-size: 12px;
      margin-top: 10px;
      opacity: 0.5;
}

.section.s5 .section-box .section-box-right{  
     position: absolute;
     width: 500px;
     height: 500px;
     bottom: 150px;
     right: 250px;
}

.bmart{
      width: 600px;
      height: 600px;  
      right: -1000px;
      position: absolute;
      opacity: 0;
}

.bmart.on{
     right:40px;
      transition: all 0.8s linear;
      opacity: 1;
      
}

/*section s6*/

.section.s6 .section-box{
      width: 50%;
      margin: auto;
      
      
}
.section.s6 .section-box .section-box-left{ 
      transform: translateY(50%);
}

.section.s6 .section-box .section-box-left img:first-child{
      width: 500px;
      margin-bottom: 20px;
}
.section.s6 .section-box .section-box-left img:last-child{
      width: 200px;
      margin-top: 20px;
}
.section.s6 .section-box .section-box-left p{
      color: #fff;
      font-size: 16px;
      line-height: 1.38;
}
.section.s6 .section-box .section-box-left span{
      color: #fff;
      font-size: 12px;
      margin-top: 10px;
      opacity: 0.5;
}

.section.s6 .section-box .section-box-right{  
 
}


/*section footer*/

.footer{
  
      background-color: #fff;
}

.footer-main{
      width: 100%;
      display: flex;
      justify-content: space-around;
}
.footer-left{
      margin-top: -10px;
}
.footer-main .left-top{
      display: grid;
      grid-template-columns: 100px 100px;
      row-gap: 20px;
      column-gap: 50px;

}
.footer-main .left-top img{
      width: 100px;
} 

.footer-main .left-bottom img{
      width: 40px;
      margin-right: 30px;
      margin-top: 70px;
      transform: translateX(-20px);


}

.footer-main .footer-right img{
      width: 200px;
      margin-bottom: 40px;
}

.footer-right{
      display: flex;
      flex-direction: column;
      transform: translate(-220px , -20px);
}
.footer-right img:first-child{
      width: 190px;
}
.footer-right img:last-child{
      width: 150px;
}

.footer-bottom{
      color: rgb(51, 51, 51);
      font-size: 14px;
      line-height: 1.5;
      margin-left: 230px;
}
.footer-bottom .address{
      margin-bottom: 20px;
}

.footer-bottom .infor{
      margin-bottom: 20px;
}
.infor .license{
      background: url(../delivery-img/link-line_01_2x.png) no-repeat left bottom / 100% 3px;
}
.war{
      position: relative;
}
.war .email{
      background: url(../delivery-img/link-line_01_2x.png) no-repeat left bottom / 100% 3px; /*백그라운드 이미지의 위드와 하이트 값을 여기서 적어줘야 적용됨*/
      /*위드와 하이트 값을 따로 적으면 요소의 위드와 하이트값이기 때문에 이미지에 적용되지 않음*/
      /*bottom 옆에 작대기는 포지션값과 위드값을 구분하기 위해 써주는 것임*/
     
}

.fp-watermark{
      display: none;
}

